*.tfstate*
.terraform*
terraform.tfstate.d/
**/.terragrunt*
*.tfvars
tfvars
.idea
*.iml
test_output*
/live/gov/
/live/standard/
/live/.skel/partitions/standard/account.hcl
/live/.skel/partitions/gov/account.hcl
