---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: dozuki-operator
  labels:
    app.kubernetes.io/name: dozuki-operator
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: "2.4.14"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dozuki-operator
  labels:
    app.kubernetes.io/name: dozuki-operator
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: "2.4.14"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - infra.dozuki.com
    resources:
      - subsites
      - features
      - featurerequests
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - grafana.integreatly.org
    resources:
      - grafanas
      - grafanafolders
      - grafanadatasources
      - grafanadashboards
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: dozuki-operator
  labels:
    app.kubernetes.io/name: dozuki-operator
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: "2.4.14"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dozuki-operator
subjects:
  - kind: ServiceAccount
    name: dozuki-operator
    namespace: {{ .Release.Namespace }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dozuki-operator
  labels:
    app.kubernetes.io/name: dozuki-operator
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: "2.4.14"
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: dozuki-operator
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: dozuki-operator
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: dozuki-operator
      securityContext:
        {}
      containers:
        - name: dozuki-operator
          securityContext:
            {}
          image: "public.ecr.aws/h4a0b1e7/dozuki-subsite-operator:2.4.16"
          env:
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            requests:
              cpu: 5m
              memory: 64Mi
            limits:
              cpu: 50m
              memory: 256Mi
